# Node.js dependencies
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
ENV/
*.ipynb_checkpoints

# SQLite database files
*.sqlite
*.sqlite-shm
*.sqlite-wal

# VSCode
.vscode/
*.code-workspace

# Uploads (if they are user-generated and shouldn't be tracked)
uploads/

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db